include layout
  block content
    h1 All Messages

    if messages.length
      ul
        each message in messages
          li
            if currentUser && (currentUser.membership_status === 'approved' || currentUser.is_admin)
              .message-info
                p.author= `Author: ${message.author.first_name} ${message.author.last_name}`
                p.date= `Date: ${message.date.toDateString()}`
                p.content= `Content: ${message.content}`
                if currentUser.is_admin
                  form(action=`/message/${message._id}/delete`, method="POST")
                    button(type="submit") Delete
            else
              p= message.content
    else
      p There are no messages.
